<div class="jumbotron align-items-center contact-jumbotron">
<div class="container-sm">
<div class="modal-body row">
	<div class="col-xs-6 text-center">
		<%= image_tag("contact.svg", :alt => "Contact", :height => "200") %>
		<h1>Contact Us</h1>
	</div>
	<div class="col-xs-6 contact-col-r" >
		<h3>Contact Us via</h3>
		<p><%= image_tag("telephone.svg", :alt => "Contact", :width => "50")%>  +120**********</p>
		<p><%= image_tag("mail.svg", :alt => "Contact", :width => "50")%>  Invisalign@aligntech.com</p>
		<p><%= image_tag("whatsapp.svg", :alt => "Contact", :width => "50")%>  +120**********</p>
	</div>
</div>
</div>
</div>