<div class="jumbotron align-items-center" style="margin-top: 100px;background-color: rgb(204,233,255);">
<div class="container-sm">
<div class="modal-body row">
	<div class="col-xs-6" style="text-align: center;">
		<%= image_tag("contact.svg", :alt => "Contact", :height => "200") %>
		<h1>Contact Us</h1>
	</div>
	<div class="col-xs-6" style="border-left: 5px solid black; padding-left: 30px;">
		<h3>Contact Us via</h3>
		<p><%= image_tag("telephone.svg", :alt => "Contact", :width => "50")%>  +120**********</p>
		<p><%= image_tag("mail.svg", :alt => "Contact", :width => "50")%>  Invisalign@aligntech.com</p>
		<p><%= image_tag("whatsapp.svg", :alt => "Contact", :width => "50")%>  +120**********</p>
	</div>
</div>
</div>
</div>