/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 35px;  /* Should be same as footer height */
    }
    .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px; /* Should be same as body margin-bottom */
    background: rgb(0, 83, 156);
    border-top: 2px solid black;   
    text-align: center;
    color: white;
    }
    .footer-color{
      color: white;
      }
    .navbar-shadow 
    {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    }
    .dropdown-menu 
    {
    width: 100px !important;
    text-align: center;
  }
  .alert {
  height: 30px;
  line-height:30px;
  padding:0px 15px;
  text-align: center;
  }
  .alert.alert-success{
  margin: 0;
  }
.row{
  margin-right:0 !important;
}
  .vfill{
    height: 100%;min-height: 100vh;
    padding-top: 50px;
  }

  .modal-body.row{
    padding: 0;
  }
  .navbar{
    margin-bottom: 0;
  }
  .form-control{
    width: 500px;
    text-align: center;
    margin: auto;
  }
  .alert.alert-danger{
    margin: 0;
  }
    .dropdown-menu 
  {
    width: 300px !important;
    text-align: center;
  }
  .jumbotron {
   vertical-align: middle;
 }
 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(70,88,127);
  color: white;
  font-weight: 700;
}
.img:hover{
  transform: scale(1.1);
}
.toggle:hover{
 transform: scale(1.2); 
}
.contact-jumbotron{
  margin-top: 100px;
  background-color: rgb(204,233,255);
}
.contact-col-r{
  border-left: 5px solid black; 
  padding-left: 30px;
}
.pd-t-10{
  padding-top: 10px;
}
.pd-t-50{
  padding-top: 50px;
}
.v-center{
  padding-top: 50%;
}
.margin-0{
  margin: 0;
}
.padding-0{
  padding:0;
}
.padding-auto{
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}
.dropdown-menu-center {
right: auto;
left: 50%;
-webkit-transform: translate(-50%, 0);
-o-transform: translate(-50%, 0);
transform: translate(-50%, 0);}